.countries {
    display: flex;
    flex-wrap: wrap;
}

.country-data {
    flex-basis: calc(25% - 80px);
    padding-inline: 40px;
    padding-bottom: 40px;
    height: 50vh;
}

.country-data-inner {
    height: 90%;
    border-radius: 5px;
    cursor: pointer;
}

.country-flag {
    height: 50%;
    width: 100%;
}

.country-flag img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.country-name {
    padding-top: 20px;
    padding-inline: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: large;
}

.country-population,
.country-region,
.country-capital {
    display: flex;
    padding-inline: 20px;
    padding-bottom: 3px;
    font-size: small;
}

.country-population div,
.country-region div,
.country-capital div {
    font-weight: 600;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(65, 65, 65);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader-ui {
    position: absolute;
    top: 50vh;
    left: 47vw;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error-ui {
    position: absolute;
    top: 50vh;
    left: 42.5vw;
}

.no-country-ui {
    position: absolute;
    top: 50vh;
    left: 37.5vw;
}