.filter-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-inline: 40px;
    padding-bottom: 30px;
    position: sticky;
    top: 10vh;
}

#region-filter {
    border: none;
    background-color: white;
    height: 40px;
    font-weight: 300;
    font-size: medium;
    border: none;
    outline: none;
}

.filter-by-region {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-inline: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-by-region select {
    font-weight: 300;
    font-size: medium;
    padding: 10px;
}

#search-countries {
    border: none;
    height: 40px;
    font-weight: 300;
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 5px;
}

#search-countries-dark {
    border: none;
    height: 40px;
    font-weight: 300;
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 5px;
}

.search-country form {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-country form img {
    padding-inline: 20px;
}

.search-country {
    margin-right: 10px;
    border-radius: 5px;
}

#sub-region-filter {
    border: none;
    height: 40px;
    font-weight: 300;
    font-size: medium;
    border: none;
    outline: none;
}

.filter-by-sub-region {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-by-sub-region select {
    font-weight: 300;
    font-size: medium;
    padding: 5px;
}

#sort-by {
    border: none;
    background-color: white;
    height: 40px;
    font-weight: 300;
    font-size: medium;
    border: none;
    outline: none;
}

.sort-by-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.sort-by-container select {
    font-weight: 300;
    font-size: medium;
    padding: 5px;
}

.sort-order {
    font-size: large;
    padding-inline: 10px;
    cursor: pointer;
}

.sort-order:active {
    transform: translateY(1px);
}

.light-theme-input::placeholder {
    color: #000000;
}

.dark-theme-input::placeholder {
    color: #ffffff;
}