.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(65, 65, 65);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader-ui {
    position: absolute;
    top: 50vh;
    left: 47vw;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}