header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-bottom: 5px;
    padding-inline: 40px;
    position: sticky;
    top: 0;
}

.header-title {
    font-weight: 800;
    font-size: x-large;
}

.theme {
    display: flex;
    align-items: center;
}

.theme-text {
    font-weight: 300;
    font-size: medium;
    border: none;
    cursor: pointer;
}