@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Public+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.countries-container {
    font-family: 'Nunito Sans', sans-serif;
}