.countries-details-container {
    display: flex;
    flex-direction: column;
    height: 87.25vh;
}

.go-back {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.go-back button {
    border: none;
    font-size: large;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.country-container {
    display: flex;
}

.country-flag-2 {
    padding-left: 40px;
}

.country-flag-2 img {
    height: 80%;
    width: auto;
}

.country-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.country-name-2 {
    font-size: x-large;
    font-weight: 800;
    height: 25%;
    display: flex;
    align-items: center;
}

.more-info div {
    font-size: small;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
}

.more-info div div {
    font-size: small;
    font-weight: 600;
}

.more-info {
    display: flex;
    flex-direction: column;
    height: 20vh;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.native-name,
.population,
.region-info,
.subregion-info,
.capital-info,
.currency-info,
.languages-info {
    padding-right: 40px;
}

.border-countries {
    display: flex;
    font-size: small;
    font-weight: 600;
    align-items: center;
}

.border-countries button {
    border: none;
    padding-inline: 10px;
    padding: 5px;
    border-radius: 5px;
}